.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login {
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.input {
  height: 50px;
  width: 200px;
  font-size: 30px;
  margin-bottom: 30px;
}

.button {
  height: 40px;
  width: 100px;
  background: burlywood;
  color: aliceblue;
  font-size: 20px;
}

